node_modules
build
secrets.*.js
src/aws-exports.js

#amplify
amplify/team-provider-info.json
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json